/*===================================
Google fonts
-------------------------------------
Raleway and open sans
-------------------------------------
Color:
    Moon Yellow:    #f4c613
    Grey:           #212226
    White Smoke:    #f4f4f4
    White:          #fff
    Black:          #000
====================================*/

/*==================================
            Html, Body
====================================*/

html,
body {

    height: 100%;
}

body {
    color: #212226;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: #fff;
    overflow: hidden;
}


/*==================================
            Preloader
====================================*/

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;

}

#status {
    background-image: url("../img/preloader/jk2.gif");
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;

}

/*==================================
            navbar
====================================*/
.navbar {
    background-color: transparent;
    padding: 30px 30px 0px 30px; 
}

ul.navbar-nav > li > a {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

ul.navbar-nav > li > a:hover,
ul.navbar-nav > li > a:focus {
    color: #f4c613;
}

.navbar a.navbar-brand img {
    padding-bottom: 20px;
    height: 45px;
}


/*white navigation*/
.white-nav-top {
    background: #fff;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}

.white-nav-top ul.navbar-nav > li > a {
    color: #212226;
}

.white-nav-top ul.navbar-nav > li > a:hover {
    color: #f4c613;
}

/*scrollspy active navbar*/

.white-nav-top ul.navbar-nav > li > a.active {
    color: #f4c613;
    font-weight: 500;
    border-bottom: 1px solid #f4c613;
}




/*==================================
            Home
====================================*/
#home-bg-image {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: url(../img/home/jk-background.jpg) no-repeat;
    background-size: cover;
}

#home-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

}

#home {
    background: none;
    height: 100%;
}

#home-content {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-inner {

    display: table-cell;
    vertical-align: middle;
}

#home-heading h1{
    font-family: 'Changa', sans-serif;
}

#home-heading h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
    font-size: 40px;
    margin: 0;
    
}

.nm{
    letter-spacing: 6px;
}
#home-heading span {
    color: #f4c613;
    font-weight: 500;
}

#home-text p {
    color: #fff;
    margin: 0;
    font-weight: 100;
    font-size: 13px;
    margin: 8px 0 30px 0;
}

/*==================================
            Button
====================================*/

.btn-general {
    font-family: 'Raleway', sans-serif;
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 40px 10px 40px;
    margin: 0 5px;
    -webkit-transition: all.5s;
    transition: all.5s;
}

.btn-home {
    border: 2px solid #fff;
    color: #fff;
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
}

.btn-home:hover,
.btn-home:focus {
    background-color: #f4c613;
    color: #fff;
    border: 1px solid #f4c613;
}

#Arrow-down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    font-size: 18px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    margin-left: -10px;
}

#Arrow-down:hover,
#Arrow-down:focus {
    color: #f4c613;
}

.btn-service {
    border: 2px solid #f4c613;
    color: #fff;
    background-color: #f4c613;
}

.btn-service:hover,
.btn-service:focus {
    background-color: #212226;
    color: #fff;
    border: 1px solid #212226;
}

.btn-white {
    border: 2px solid #fff;
    color: #212226;
    background-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #212226;
    color: #fff;
    border: 1px solid #212226;
}

#back-to-top {
    right: 20px;
    bottom: 20px;
    position: fixed;
    padding: 3px 12px;
    border-radius: 4px;
    font-size: 20px;
    display: none;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

/*==================================
            container box
====================================*/
.container-box-lg {
    padding: 120px 0;
}

.container-box-md {
    padding: 100px 0;
}

.container-box-sm {
    padding: 80px 0;
}

/*==================================
    vertical/horizontal heading
====================================*/

.vertical-heading h5 {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    display: inline-block;
    top: 50px;
    left: -60px;
    color: #F4C613;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.vertical-heading h2 {
    margin-left: 35px;
    font-weight: 100;
}

.horizontal-heading {
    margin-bottom: 80px;
}

.horizontal-heading h5 {
    color: #F4C613;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
}

.horizontal-heading h1 {
    font-weight: 100;
    font-size: 45px;
    line-height: 80px;
    margin: 0;
}

/*==================================
            About
====================================*/
#about-right h1::after{
    content: "";
    display: block;
    height: 3px;
    width: 5.5rem;
    background: #F4C613;
}
#about-left img {
    border: 7px solid #ddd;
}
#about-right p:first-child {}

#about-right .about-list li{
    list-style: none;
    font-family: 'Changa', sans-serif;
}

#about-right .about-list li .title {
    position: relative;
    margin-right: 10px;
    padding-bottom: 1px;
    color: #F4C613;
    font-weight: 700;
}

#about-right .about-list li .value {
    position: relative;
}

#about-right .about-list li {
    margin-bottom: 10px;
}
#about-right .about-list{
    padding: 0;
    margin-bottom: 30px;
}
#about-right .about-list li a,
.experiance_link{
    text-decoration: none;
    cursor: pointer;
    color: #5362d3;
}
#about-right p{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Changa', sans-serif;
}

/*==================================
            Service
====================================*/
.serv_row{
    margin-bottom: 20px;
}
#service h1::after{
    content: "";
    display: block;
    height: 3px;
    width: 5.5rem;
    margin: auto;
    background: #F4C613;
}
.service-item {
    background: #fff;
    padding: 50px 10px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.service-item i {
    font-size: 25px;
    margin: 0;

}

.service-item h2 {
    font-size: 20px;
    margin-bottom: 20px;

}

.service-item hr {
    width: 50px;
    height: 3px;
    background-color: #F4C613;

}

.service-item p {
    font-size: 15px;
    margin: 0;

}

/*hover state*/

.service-item:hover i,
.service-item:hover h2,
.service-item:hover p {
    color: #fff;
}

.service-item:hover hr {
    background-color: #fff;
}

.service-item:hover {
    background: #F4C613;
}

.service-item:hover i {
    transform: translateY(-20px);
}

/*transition*/

.service-item,
.service-item i,
.service-item hr {
    -webkit-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
}

.container_item{
    margin-bottom: 20px;
}


/*==================================
            skill
====================================*/
#skill h1::after{
    content: "";
    display: block;
    height: .2rem;
    width: 5.5rem;
    margin: auto;
    background: #F4C613;
}
.skill {
    margin-bottom: 30px;
}

.skill h4 {
    text-transform: uppercase;
    font-weight: normal;
    line-height: 60px;
    margin: 0;
}

.progress {
    background: #f4f4f4;
    overflow: visible;
    height: 25px;
}

.progress-bar {
    background-color: #F4C613;
    position: relative;

}

.progress-bar span {
    font-weight: bold;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    position: absolute;
    left: 98.5%;
    color: #fffcfc;
    background-color: #f4c613;
    top: -40px;
}


.progress-bar span:before {
    content: "";
    border-top: 8px solid #f4c613;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -7px;
}

/*==================================
            protfolio
====================================*/
#portfolio h1::after{
    content: "";
    display: block;
    height: .2rem;
    width: 5.5rem;
    margin: auto;
    background: #F4C613;
}

#portfolio {
    padding-bottom: 0px;
}

#portfolio .vertical-heading {
    margin-bottom: 50px;
}

.row.no-gap [class*=col-] {
    padding: 0;

}

.portfolio-item {
    overflow: hidden;
    position: relative;
}

#isotope-filter {
    margin-bottom: 20px;
    padding: 8px 40px;
}

#isotope-filter button {
    text-transform: uppercase;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding-right: 25px;
    outline: 0;

}

#isotope-filter button span {
    display: block;
    padding-bottom: 5px;
    -webkit-transition: border-color .4s ease-in-out;
    transition: border-color .4s ease-in-out;
}

#isotope-filter button.active span {
    color: #f4c613;
    border-bottom: 2px solid #f4c613;

}

.portfolio-item img {
    width: 500px;
    height: 300px;
    border: 7px solid #ddd;
    margin: 15px;
    -webkit-transition:
        -webkit-transform .9s ease;
    transition:
        -webkit-transform .9s ease;
    transition: transform .9s ease;
    transition: transform .9s ease,
        -webkit-transform .9s ease;
}

.portfolio-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    overflow: hidden;
}

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(14, 14, 17, 0.9);
    /*background: rgb(244, 199, 44);*/
    /*cursor: -webkit-zoom-in;
    cursor: zoom-in;*/
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.portfolio-item-details {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio-item-details h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    padding: 0;
    margin: 0;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.portfolio-item-details span {
    display: inline-block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 6px;
    width: 30px;
    margin: 11px auto 5px auto;
}

.portfolio-item-details p {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/*overlay show in mouse hover*/

.portfolio-item:hover .portfolio-item-details h3 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
    opacity: 1;
}

/*==================================
            resume
====================================*/
#resume h1::after{
    content: "";
    display: block;
    height: .2rem;
    width: 5.5rem;
    margin: auto;
    background: #F4C613;
}
#resume-left{
    box-shadow: 7px 3px 23px 13px rgba(76, 64, 9, 0.09);
    border: 1px solid #0000001a;
    border-radius: 6px;
    padding: 20px 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}
#resume-left h3{
    color: #F4C613;
}

#resume-right{
    box-shadow: 7px 3px 23px 13px rgba(76, 64, 9, 0.09);
    border: 1px solid #0000001a;
    border-radius: 6px;
    padding: 20px 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}
#resume-right h3{
    color: #F4C613;
}


/* =========================================
                Social Icons
============================================ */

ul.social-list {
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

ul.social-list li {
    display: inline-block;
    padding: 0;

}

ul.social-list li a {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

ul.social-list li:nth-child(1) a:hover {
    background: #416ecc;
    border-color: transparent;
}

ul.social-list li:nth-child(2) a:hover {
    background: #115ab1;
    border-color: transparent;
}

ul.social-list li:nth-child(3) a:hover {
    background: linear-gradient(166deg, rgba(105,58,180,1) 0%, rgba(253,29,60,1) 50%, rgba(252,238,69,1) 100%);
    border-color: transparent;
}


/*==================================
            contact
====================================*/
#contact h1::after{
    content: "";
    display: block;
    height: .2rem;
    width: 5.5rem;
    margin: auto;
    background: #F4C613;
}
ul.brance-details {
    list-style: none;
    padding: 0;
}

ul.brance-details li {
    font-family: "Open Sans", sans-serif;
    margin-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

ul.brance-details li i {
    width: 30px;
    font-size: 18px;
}


/*contact left*/

#contact-left {
    background: #fff;
    -webkit-box-shadow: 7px 3px 23px 13px rgba(76, 64, 9, 0.09);
    box-shadow: 7px 3px 23px 13px rgba(76, 64, 9, 0.09);
    border: 1px solid #0000001a;
    border-radius: 6px;
    padding: 20px 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#contact-left h4 {
    font-size: 24px;
}

#contact-left p {
    margin-bottom: 25px
}

#contact-left form .form-control {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 15px;
}

#contact-left form textarea.form-control {
    min-height: 160px;
}

/*contact-right*/
#contact-right{
    background: #fff;
    -webkit-box-shadow: 7px 3px 23px 13px rgba(76, 64, 9, 0.09);
    box-shadow: 7px 3px 23px 13px rgba(76, 64, 9, 0.09);
    border: 1px solid #0000001a;
    border-radius: 6px;
    padding: 20px 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.contact-details{
    margin: 23px 0px;
}

.contact-details .icon{
    font-size: 30px;
    margin: 0;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}
.contact-details:hover .icon {
    color: #F4C613;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}
.contact-details .icon i{
    width: 40px;
    height: 40px;
}

#contact-right ul.social-list li a {
    color: #212226;
    border: 1px solid #212226;
    text-align: center;
}

#contact-right ul.social-list li a:hover {
    color: #fff;
    border-color: transparent;
}
#contact-right .vertical-heading h3{
    color: #F5CE32;
    margin-bottom: service
}

/*==================================
            footer
====================================*/

footer {
    background: #212226;
    padding: 30px;
}

footer p {
    color: #fff;
    line-height: 25px;
    margin: 0;
}

footer p span {
    color: #F4C613;
}



/*==================================
            text animation
====================================*/

.console-container {
  font-family:"Raleway", sans-serif;
  font-size:28px;
  text-align:center;
  display:block;
  position:absolute;
  color:white;
  top:59%;
  bottom:0;
  left:20px;
  right:0;
  margin: auto;
  font-weight: 100;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}



/*==================================
            Animation
====================================*/
#home-heading-1,
#home-heading-2,
#home-text,
#home-btn,
#Arrow-down i{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
#home-heading-1{
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
#home-heading-2{
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
#home-text{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#home-btn{
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
#Arrow-down i{
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}


























